<!DOCTYPE html>

<html>
    <head>
        <title>
            index.ejs
        </title>
        <body>
            <div>
                <h1> welcome to our bankk </h1>
            </div>
            <div>
                <a href="/user/login">User login</a><br>
                <a href="/manager/login">Manager login</a><br>
                <a href="/user/signup"> New here ? signUp </a>
            </div>
        </body>
    </head>
</html>